body {
    margin: 0;
    padding: 0;
}

.titleHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}
.teamHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: montserrat, sans-serif;
    width: 500px;
    height: 8rem;
    box-shadow: 0 2px 10px 5px rgb(201, 201, 201);
    border-radius: 10px;
}

.contentInside {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: montserrat, sans-serif;
}

.inputSong {
    padding: 15px 100px 15px 10px;
    font-family: montserrat, sans-serif;
    font-size: 18px;
    box-shadow: 0 2px 10px 5px rgb(201, 201, 201);
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.listofSongs div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.songList div{
    display: grid;
    background-color: lightgray;
    width: 500px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}

.songList div:hover{
    background-color: rgb(196, 196, 196);
}

.songList div:active {
    background-color: lightgray;
}

.songAndchords {
    font-size: 20px;
}

.songTitle {
    margin: 0;
}

.titleBottom {
    margin-top: 0;
}

.keyOfSong {
    margin: 0;
}

.songAndchords {
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 100%;
    border-radius: 10px;
}