body {
    margin: 0;
    padding: 0;
    background-image: url('WTeam.png');
}

.titleHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}
.teamHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: montserrat, sans-serif;
    width: 500px;
    height: 8rem;
    box-shadow: 0 2px 10px 2px rgb(58, 58, 58);
    text-transform: uppercase;
    border-radius: 10px;
    color: rgb(172, 13, 13);
    font-weight: 600;
    background: linear-gradient(141.20deg, rgb(238, 201, 201)50%, rgb(175, 226, 247)90%);
    font-size: 28px;
}

.contentInside {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: montserrat, sans-serif;
}

.inputSong {
    padding: 15px 100px 15px 10px;
    font-family: montserrat, sans-serif;
    font-size: 18px;
    box-shadow: 0 2px 10px 2px rgb(58, 58, 58);
    border: none;
    border-radius: 5px;
    margin: 10px;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
}

.inputSong:focus{
    border: 2px solid rgb(161, 225, 255);
}

.listofSongs div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.songList div{
    display: grid;
    width: 500px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    background: linear-gradient(141.20deg, rgb(245, 222, 222)50%, rgb(175, 226, 247)90%);
    color: black;
}

.songList div:hover{
    background: linear-gradient(141.20deg, rgb(231, 167, 167)50%, rgb(46, 171, 224)90%);
}

.songList div:active {
    background: linear-gradient(141.20deg, rgb(231, 167, 167)50%, rgb(46, 171, 224)90%);
}

.songAndchords {
    font-size: 20px;
}

.songTitle {
    margin: 0;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    background: linear-gradient(141.20deg, rgb(243, 215, 215)50%, rgb(207, 235, 240)90%);
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 10px 2px rgb(58, 58, 58);
}

.titleBottom {
    margin-top: 0;
    color: rgb(0, 0, 0);
    background: linear-gradient(141.20deg, rgb(243, 215, 215)50%, rgb(207, 235, 240)90%);
    border-radius: 2px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 2px 10px 2px rgb(58, 58, 58);
}

.keyOfSong {
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: 600;
    background: linear-gradient(141.20deg, rgb(243, 215, 215)50%, rgb(207, 235, 240)90%);
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 2px 10px 2px rgb(58, 58, 58);
}

.songAndchords {
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(141.20deg, rgb(239, 255, 255)50%, rgb(243, 240, 194)90%);
    padding: 20px;
    box-shadow: 0 2px 10px 2px rgb(58, 58, 58);
}